<div class="Photocard-container" data-user="{{user}}" data-caption="{{caption}}" data-likes="{{likes}}">
              <div class="image-container">
                <img src="{{photoURL}}" alt="{{caption}}" class="post-image"/>
              </div>
            <div class="Icon-container">
              <span id="num-likes">{{likes}}</span><button href="" class=""><i class="fas fa-heart"></i></button>
            </div>
              <div class="caption-container">
                  <span id="user">{{user}}</span>
                  <p id="photo-caption">{{caption}}</p>
              </div>
           </div>